<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Password Reset</title>
</head>
<body>
<p>Dear Parent/Student,</p>
<p>The password for the student account(s) registered with this email address has been reset as requested.</p>
{{multiAccountNotice}}
<table cellpadding='8' cellspacing='0' border='1' style='border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;'>
<tr style='background-color:#f0f4f8;'>
<th align='left'>Student</th>
<th align='left'>Username</th>
<th align='left'>New Password</th>
</tr>
{{accountRows}}
</table>
<p>Please log in to the EduNest app using the username and temporary password above, and change your password as soon as possible for your security.</p>
<p>If you did not request this change, please contact your school immediately.</p>
<p>Regards,<br>EduNest Team</p>
</body>
</html>
